[Unit]
Description=Wifi Keepalive Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/wifi-keepalive
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

